.dark {
  --md-sys-color-primary: rgb(179 208 136);
  --md-sys-color-surface-tint: rgb(179 208 136);
  --md-sys-color-on-primary: rgb(33 54 0);
  --md-sys-color-primary-container: rgb(54 78 20);
  --md-sys-color-on-primary-container: rgb(207 237 162);
  --md-sys-color-secondary: rgb(184 207 132);
  --md-sys-color-on-secondary: rgb(38 53 0);
  --md-sys-color-secondary-container: rgb(59 77 16);
  --md-sys-color-on-secondary-container: rgb(212 236 157);
  --md-sys-color-tertiary: rgb(185 207 131);
  --md-sys-color-on-tertiary: rgb(39 53 0);
  --md-sys-color-tertiary-container: rgb(60 77 15);
  --md-sys-color-on-tertiary-container: rgb(213 236 156);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(18 20 14);
  --md-sys-color-on-background: rgb(226 227 216);
  --md-sys-color-surface: rgb(18 20 14);
  --md-sys-color-on-surface: rgb(226 227 216);
  --md-sys-color-surface-variant: rgb(69 72 61);
  --md-sys-color-on-surface-variant: rgb(197 200 185);
  --md-sys-color-outline: rgb(143 146 133);
  --md-sys-color-outline-variant: rgb(69 72 61);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(226 227 216);
  --md-sys-color-inverse-on-surface: rgb(47 49 42);
  --md-sys-color-inverse-primary: rgb(77 102 42);
  --md-sys-color-primary-fixed: rgb(207 237 162);
  --md-sys-color-on-primary-fixed: rgb(17 31 0);
  --md-sys-color-primary-fixed-dim: rgb(179 208 136);
  --md-sys-color-on-primary-fixed-variant: rgb(54 78 20);
  --md-sys-color-secondary-fixed: rgb(212 236 157);
  --md-sys-color-on-secondary-fixed: rgb(20 31 0);
  --md-sys-color-secondary-fixed-dim: rgb(184 207 132);
  --md-sys-color-on-secondary-fixed-variant: rgb(59 77 16);
  --md-sys-color-tertiary-fixed: rgb(213 236 156);
  --md-sys-color-on-tertiary-fixed: rgb(21 31 0);
  --md-sys-color-tertiary-fixed-dim: rgb(185 207 131);
  --md-sys-color-on-tertiary-fixed-variant: rgb(60 77 15);
  --md-sys-color-surface-dim: rgb(18 20 14);
  --md-sys-color-surface-bright: rgb(56 58 50);
  --md-sys-color-surface-container-lowest: rgb(13 15 9);
  --md-sys-color-surface-container-low: rgb(26 28 22);
  --md-sys-color-surface-container: rgb(30 32 25);
  --md-sys-color-surface-container-high: rgb(40 43 36);
  --md-sys-color-surface-container-highest: rgb(51 54 46);
}
